div.topbar{
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
  background-color: gray;
  padding-left: 10px;
  align-items: center;
  display: flex;
}

a.topbar{
  color: white;
  text-decoration: none;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}