div.home-form{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

h3.home-form{
  font-size: 16px;
}

p.home-form{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

input.home-form{
  padding: 5px;
  color: gray;
  font-size: 14px;
  border-color: gray;
  border-width: 1px;
}

.home-form-icon{
  color: gray;
}

.home-form-icon:hover{
  color: darkgray;
}


.home-form-icon:active{
  border: 1px solid gray;
  scale: 1.2;
}

